{{ define "index" }}
<!doctype html>
<html>
  {{ template "head" . }}
  <body>
    <main class="container">
      <h1>seek - ai generated cover letter</h1>

      <h2>{{ .Filename }}</h2>
      <p>{{ .URI }}</p>

      <form action="/upload" method="post" enctype="multipart/form-data">
        <fieldset role="group">
          <input type="file" name="pdfFile" accept=".pdf" required />
          <input type="submit" value="upload" />
        </fieldset>
      </form>

      <form hx-post="/gen" hx-target="#result">
        <fieldset>
          <input
            id="text"
            type="text"
            name="description"
            placeholder="Enter a job description"
            required
          />
          <select name="model" id="gemini-model">
            <option value="gemini-1.5-flash" selected>Gemini 1.5 Flash</option>
            <option value="gemini-1.5-pro">Gemini 1.5 Pro</option>
          </select>
          <input type="submit" value="generate" />
        </fieldset>
      </form>
      <div id="result"></div>
    </main>
  </body>
</html>
{{ end }}
