{{ define "cover-letter" }}
<article>
  <p>{{ .ApplicantFullName }}</p>
  <p>{{ .Email }}</p>
  <p>{{ .Phone }}</p>
  <p>Cover Letter</p>
  <p>{{ .JobTitle }}</p>
  <p>{{ .CompanyName }}</p>
  <p>{{ .Date.Format "Jan. 2, 2006" }}</p>

  <p>{{ .Introduction }}</p>
  <p>Qualifications:</p>
  <ul>
    <li>{{ .Body.Qualification1 }}</li>
    <li>{{ .Body.Qualification2 }}</li>
    <li>{{ .Body.Qualification3 }}</li>
  </ul>
  <p>Experience:</p>
  <ul>
    <li>{{ .Body.Experience1 }}</li>
    <li>{{ .Body.Experience2 }}</li>
    <li>{{ .Body.Experience3 }}</li>
  </ul>
  <p>Skills:</p>
  <ul>
    {{ range .Body.Skills }}
    <li>{{ . }}</li>
    {{ end }}
  </ul>
  <p>{{ .Closing }}</p>
</article>
{{ end }}
