{{ define "header"}}
<!-- Header -->
<header class="container">
  <nav>
    <hgroup>
      <h1>Seek</h1>
      <p>Make any cover letter with Gemini.</p>
    </hgroup>
    <ul>
      <li>
        <details class="dropdown">
          <summary role="button" class="secondary">Theme</summary>
          <ul>
            <li><a href="#" data-theme-switcher="auto">Auto</a></li>
            <li><a href="#" data-theme-switcher="light">Light</a></li>
            <li><a href="#" data-theme-switcher="dark">Dark</a></li>
          </ul>
        </details>
      </li>
    </ul>
  </nav>
  <!-- Minimal theme switcher -->
  <script src="js/minimal-theme-switcher.js"></script>
</header>
<!-- ./ Header -->
{{ end }}
